<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#toc').perfectScrollbar({
            maxScrollbarLength: 160
        });
    });
</script>