/* Derived from the Riak documentation theme developed by Basho Technologies, Inc. | CC BY 3.0 License | http://docs.basho.org */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

/** Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video {
	display: inline-block;
}

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
	display: none;
	height: 0;
}

/** Address `[hidden]` styling not present in IE 8/9. Hide the `template` element in IE, Safari, and Firefox < 22. */
[hidden], template {
	display: none;
}

script {
	display: none !important;
}

/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
	font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
	/* 1 */ -ms-text-size-adjust: 100%;
/* 2 */ -webkit-text-size-adjust: 100%;
/* 2 */ }

/** Remove default margin. */
body {
	margin: 0;
}

/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a {
	background: transparent;
}

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
	outline: thin dotted;
}

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover {
	outline: 0;
}

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
	border-bottom: 1px dotted;
}

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong {
	font-weight: bold;
}

/** Address styling not present in Safari 5 and Chrome. */
dfn {
	font-style: italic;
}

/** Address differences between Firefox and other browsers. */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
height: 0;
}

/** Address styling not present in IE 8/9. */
mark {
	background: #ff0;
	color: #000;
}

/** Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp {
	font-size: small;
}

/** Improve readability of pre-formatted text in all browsers. */
pre {
	white-space: pre-wrap;
}

/** Set consistent quote types. */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/** Address inconsistent and variable font size in all browsers. */
small {
	font-size: 80%;
}

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
	font-size: 75%;
	line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ========================================================================== Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9. */
img {
	border: 0;
}

/** Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
	overflow: hidden;
}

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 8/9 and Safari 5. */
figure {
	margin: 0;
}

/* ========================================================================== Forms ========================================================================== */
/** Define consistent border, margin, and padding. */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
	border: 0;
	/* 1 */ padding: 0;
/* 2 */ }

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button, input, select, textarea {
	/* 1 */ font-size: 100%;
/* 2 */ margin: 0;
/* 3 */ }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input {
	line-height: normal;
}

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select {
	text-transform: none;
}

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */ cursor: pointer;
/* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
	cursor: default;
}

/** 1. Address box sizing set to `content-box` in IE 8/9. 2. Remove excess padding in IE 8/9. */
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	/* 1 */ padding: 0;
/* 2 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */ -moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
/* 2 */ box-sizing: content-box;
}

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */
textarea {
	overflow: auto;
	/* 1 */ vertical-align: top;
/* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

meta.foundation-mq-small {
width: 768px;
}

meta.foundation-mq-medium {
width: 1280px;
}

meta.foundation-mq-large {
width: 1440px;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
	font-size: small;
}

body {
	background: white;
	color: #222222;
padding: 0;
margin: 0;
font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: normal;
line-height: 1;
position: relative;
cursor: auto;
}

a:hover {
	cursor: pointer;
}

img, object, embed {
	max-width: 100%;
	height: auto;
}

object, embed {
	height: 100%;
}

img {
	-ms-interpolation-mode: bicubic;
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
	max-width: none !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.hide {
	display: none;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
}

img {
	display: inline-block;
	vertical-align: middle;
}

textarea {
	height: auto;
	min-height: 50px;
}

select {
	width: 100%;
}

object, svg {
	display: inline-block;
	vertical-align: middle;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.spread {
	width: 100%;
}

p.lead, .paragraph.lead > p, #preamble > .sectionbody > .paragraph:first-of-type p {
	font-size: 1.21875em;
	line-height: 1.6;
}

.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
	line-height: 1.4;
	color: #3c3d3f;
margin-top: 0.2em;
margin-bottom: 0.5em;
}

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
direction: ltr;
}

/* Default Link Styles */
a {
	color: #2769e3;
	text-decoration: none;
	line-height: inherit;
}
a:hover, a:focus {
	color: #faa94c;
}
a img {
	border: none;
}

/* Default paragraph styles */
p {
	margin-bottom: 15px;

	color: #262626;
	font-weight: normal;
	font-size: 15px;
	line-height: 1.75;
	letter-spacing: .02em;
	text-rendering: geometricPrecision;
}
p aside {
	font-size: 0.875em;
	line-height: 1.35;
	font-style: italic;
}

/* Default header styles */
h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
font-weight: normal;
font-style: normal;
color: #262626;
text-rendering: geometricPrecision;
margin-top: 0.5em;
margin-bottom: 0.5em;
line-height: 1.2125em;
}
h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #aeb0b2;
line-height: 0;
}

h1 {
	font-size: 2.125em;
}

h2 {
	font-size: 1.3em;
}

h3, #toctitle, .sidebarblock > .content > .title {
	font-size: 1.1em;
}

h4 {
	font-size: 1.0em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1em;
}

hr {
	border: solid #e3f0fc;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.25em 0 1.1875em;
	height: 0;
}

/* Helpful Typography Defaults */
em, i {
	font-style: italic;
	line-height: inherit;
}

strong, b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 60%;
	line-height: inherit;
}

code {
	font-weight: normal;
color: #262626;
font-weight: 700;
}

/* Lists */
ul, ol, dl {
	font-size: 1em;
	line-height: 1.5;
margin-bottom: 0.9375em;
list-style-position: outside;
}

ul, ol {
	margin-left: 1.5em;
}
ul.no-bullet, ol.no-bullet {
	margin-left: 1.5em;
}

/* Unordered Lists */
ul li ul, ul li ol {
	margin-left: 1.25em;
	margin-bottom: 0;
font-size: 1em;
/* Override nested font-size change */ }
ul.square li ul, ul.circle li ul, ul.disc li ul {
	list-style: inherit;
}
ul.square {
	list-style-type: square;
}
ul.circle {
	list-style-type: circle;
}
ul.disc {
	list-style-type: disc;
}
ul.no-bullet {
	list-style: none;
}

/* Ordered Lists */
ol li ul, ol li ol {
	margin-left: 1.25em;
	margin-bottom: 0;
}

/* Definition Lists */
dl dt {
	margin-bottom: 0.3125em;
	font-weight: bold;
}
dl dd {
	margin-bottom: 1.25em;
}

/* Abbreviations */
abbr, acronym {
	text-transform: uppercase;
	font-size: 90%;
color: #262626;
border-bottom: 1px dotted #e3f0fc;
cursor: help;
}

abbr {
	text-transform: none;
}

/* Blockquotes */
blockquote {
	margin: 0 0 0.9375em;
	padding: 0.5625em 1.25em 0 1.1875em;
border-left: 1px solid #e3f0fc;
}
blockquote cite {
	display: block;
	font-size: inherit;
color: #484a4c;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #484a4c;
}

blockquote, blockquote p {
	line-height: 1.5;
	color: #262626;
}

/* Microformats */
.vcard {
	display: inline-block;
	margin: 0 0 1.25em 0;
border: 1px solid #e3f0fc;
padding: 0.625em 0.75em;
}
.vcard li {
	margin: 0;
	display: block;
}
.vcard .fn {
	font-weight: bold;
	font-size: 0.9375em;
}

.vevent .summary {
	font-weight: bold;
}
.vevent abbr {
	cursor: auto;
	text-decoration: none;
font-weight: bold;
border: none;
padding: 0 0.0625em;
}

@media only screen and (min-width: 768px) {
	h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
	line-height: 1.4;
}
  h1 {
  	font-size: 2.75em;
  }
  h2 {
  	font-size: 2.3125em;
  }
  h3, #toctitle, .sidebarblock > .content > .title {
  	font-size: 1.6875em;
  }
  h4 {
  	font-size: 1.4375em;
  	} }
/* Tables */
table {
	background: #f1f1f1;
	margin-bottom: 1.25em;
border: solid 5px white;
}
table thead, table tfoot {
	background: #f0f6fc;
	font-weight: bold;
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
	padding: 0.5em 0.625em 0.625em;
	font-size: inherit;
color: #222222;
text-align: left;
}
table tr th, table tr td {
	padding: 0.5625em 0.625em;
	font-size: inherit;
color: #222222;
}
table tr.even, table tr.alt, table tr:nth-of-type(odd) {
	background: #d9e8f3;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #f0f6fc;
}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
	display: table-cell;
	line-height: 1.5;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
tab-size: 4;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
	line-height: 1.5;
	font-weight: 700;
}

.clearfix:before, .clearfix:after, .float-group:before, .float-group:after {
	content: " ";
display: table;
}
.clearfix:after, .float-group:after {
	clear: both;
}

*:not(pre) > code {
	font-size: 0.9em;
	font-style: normal !important;
letter-spacing: 0;
padding: 0 3px;
background-color: #f0f6fc;
border: 1px solid #e3f0fc;
-webkit-border-radius: 4px;
border-radius: 4px;
line-height: inherit;
word-wrap: break-word;
}
*:not(pre) > code.nobreak {
	word-wrap: normal;
}
*:not(pre) > code.nowrap {
	white-space: nowrap;
}

pre, pre > code {
	line-height: 1.6;
	color: inherit;
font-weight: normal;
}

em em {
	font-style: normal;
}

strong strong {
	font-weight: normal;
}

.keyseq {
	color: #848484;
}

kbd {
	display: inline-block;
color: #262626;
font-size: 0.65em;
line-height: 1.45;
background-color: #f7f7f7;
border: 1px solid #e3f0fc;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em white inset;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em white inset;
margin: 0 0.15em;
padding: 0.2em 0.5em;
vertical-align: middle;
position: relative;
top: -0.1em;
white-space: nowrap;
}

.keyseq kbd:first-child {
	margin-left: 0;
}

.keyseq kbd:last-child {
	margin-right: 0;
}

.menuseq, .menuref {
	color: #000;
}

.menuseq b:not(.caret), .menuref {
	font-weight: inherit;
}

.menuseq {
	word-spacing: -0.02em;
}
.menuseq b.caret {
	font-size: 1.25em;
	line-height: 0.8;
}
.menuseq i.caret {
	font-weight: bold;
	text-align: center;
width: 0.45em;
}

b.button:before, b.button:after {
	position: relative;
	top: -1px;
font-weight: normal;
}

b.button:before {
	content: "[";
padding: 0 3px 0 2px;
}

b.button:after {
	content: "]";
padding: 0 2px 0 3px;
}

p a > code:hover {
	color: #444444;
}

#header, #content, #footnotes, #footer {
	width: 100%;
	margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: 62.5em;
*zoom: 1;
position: relative;
padding-left: 30px;
padding-right: 30px;
}
#header:before, #header:after, #content:before, #content:after, #footnotes:before, #footnotes:after, #footer:before, #footer:after {
	content: " ";
display: table;
}
#header:after, #content:after, #footnotes:after, #footer:after {
	clear: both;
}

#content {
	margin-top: 1.25em;
}

#content:before {
	content: none;
}

#header > h1:first-child {
	color: #262626;
	margin-top: 20px;
margin-bottom: 0;
}
#header > h1:first-child + #toc {
	margin-top: 8px;
}
#header > h1:only-child, body.toc2 #header > h1:nth-last-child(2) {
	border-bottom: 1px solid #e3f0fc;
	padding-bottom: 8px;
}
#header .details {
	border-bottom: 1px solid #e3f0fc;
	line-height: 1.45;
padding-top: 0.25em;
padding-bottom: 0.25em;
padding-left: 0.25em;
color: #484a4c;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-ms-flex-flow: row wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}
#header .details span:first-child {
	margin-left: -0.125em;
}
#header .details span.email a {
	color: #262626;
}
#header .details br {
	display: none;
}
#header .details br + span:before {
	content: "\00a0\2013\00a0";
}
#header .details br + span.author:before {
	content: "\00a0\22c5\00a0";
color: #262626;
}
#header .details br + span#revremark:before {
	content: "\00a0|\00a0";
}
#header #revnumber {
	text-transform: capitalize;
}
#header #revnumber:after {
	content: "\00a0";
}

#content > h1:first-child:not([class]) {
	color: #262626;
	border-bottom: 1px solid #e3f0fc;
padding-bottom: 8px;
margin-top: 0;
padding-top: 1rem;
margin-bottom: 1.25rem;
}

#toc {
	border-bottom: 1px dashed #e3f0fc;
	padding-bottom: 0.5em;
}
#toc > ul {
	margin-left: 0.125em;
}
#toc ul.sectlevel0 > li > a {
	font-style: italic;
}
#toc ul.sectlevel0 ul.sectlevel1 {
	margin: 0.5em 0;
}
#toc ul {
list-style-type: none;
}
#toc li {
	margin-top: 15px;
}
#toc a {
	display: block;
	margin: -3px 0 -5px;
	color: #2769e3;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	letter-spacing: .06em;
}
#toc a:hover {
	color: #f2556f;
}
#toc.toc2 #toctitle {
margin: -6px 0 12px;
color: #262626;
font-size: 18px;
line-height: 1.5;
font-weight: 800;
letter-spacing: .06em;
}

@media only screen and (min-width: 768px) {
  body.toc2 {
  	padding-left: 320px;
  	padding-right: 0;
	}
  #toc.toc2 {
  	margin-top: 0 !important;
  	background-color: #f0f6fc;
  	position: fixed;
  	width: 320px;
  	left: 0;
  	top: 0;
  	z-index: 1000;
  	padding: 25px 20px;
  	height: 100%;
  	overflow: hidden;
  }
  #toc.toc2 > ul {
  	font-size: 0.9em;
  	margin-bottom: 0;
}
  #toc.toc2 ul ul {
  	margin-left: 0;
  	padding-left: 1em;
}
  #toc.toc2 ul.sectlevel0 ul.sectlevel1 {
  	padding-left: 0;
  	margin-top: 0.5em;
  margin-bottom: 0.5em;
}
  body.toc2.toc-right {
  	padding-left: 0;
  	padding-right: 15em;
}
  body.toc2.toc-right #toc.toc2 {
  	border-right-width: 0;
  	border-left: 1px solid #e3f0fc;
  left: auto;
  right: 0;
  } }
@media only screen and (min-width: 1280px) {
	body.toc2 {
	padding-left: 320px;
	padding-right: 0;
}
  #toc.toc2 {
  	width: 320px;
  }
  #toc.toc2 > ul ul {
  	padding-left: 12px;
  }
  body.toc2.toc-right {
  	padding-left: 0;
  	padding-right: 320px;
  } }
#content #toc {
	border-style: solid;
	border-width: 1px;
border-color: #d9d9d9;
margin-bottom: 1.25em;
padding: 1.25em;
background: #f0f6fc;
-webkit-border-radius: 4px;
border-radius: 4px;
}
#content #toc > :first-child {
	margin-top: 0;
}
#content #toc > :last-child {
	margin-bottom: 0;
}

#footer {
	max-width: 100%;
	background-color: #262626;
padding: 1.25em;
}

#footer-text {
	color: #aeaeae;
	line-height: 1.35;
}

#content {
	margin-bottom: 0.625em;
}

.sect1 {
	padding-bottom: 0.625em;
}

@media only screen and (min-width: 768px) {
	#content {
	margin-bottom: 1.25em;
}
  .sect1 {
  	padding-bottom: 1.25em;
  	} }
.sect1:last-child {
	padding-bottom: 0;
}

.sect1 + .sect1 {
	border-top: 1px dashed #e3f0fc;
}

#content h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, #toctitle > a.anchor, .sidebarblock > .content > .title > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
	position: absolute;
	z-index: 1001;
width: 1.5ex;
margin-left: -1.5ex;
display: block;
text-decoration: none !important;
visibility: hidden;
text-align: center;
font-weight: normal;
}
#content h1 > a.anchor:before, h2 > a.anchor:before, h3 > a.anchor:before, #toctitle > a.anchor:before, .sidebarblock > .content > .title > a.anchor:before, h4 > a.anchor:before, h5 > a.anchor:before, h6 > a.anchor:before {
	content: "\00A7";
font-size: 0.85em;
display: block;
padding-top: 0.1em;
}
#content h1:hover > a.anchor, #content h1 > a.anchor:hover, h2:hover > a.anchor, h2 > a.anchor:hover, h3:hover > a.anchor, #toctitle:hover > a.anchor, .sidebarblock > .content > .title:hover > a.anchor, h3 > a.anchor:hover, #toctitle > a.anchor:hover, .sidebarblock > .content > .title > a.anchor:hover, h4:hover > a.anchor, h4 > a.anchor:hover, h5:hover > a.anchor, h5 > a.anchor:hover, h6:hover > a.anchor, h6 > a.anchor:hover {
	visibility: visible;
}
#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
	color: #262626;
	text-decoration: none;
}
#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content > .title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
	color: #555659;
}

.audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
	margin-bottom: 1.25em;
}

.admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
	text-rendering: geometricPrecision;
	text-align: left;
}

table.tableblock > caption.title {
	white-space: nowrap;
	overflow: visible;
max-width: 0;
}

.paragraph.lead > p, #preamble > .sectionbody > .paragraph:first-of-type p {
	color: #262626;
}

table.tableblock #preamble > .sectionbody > .paragraph:first-of-type p {
	font-size: inherit;
}

.admonitionblock > table {
	border-collapse: separate;
	border: 0;
background: none;
width: 100%;
}
.admonitionblock > table td.icon {
	text-align: center;
	width: 80px;
}
.admonitionblock > table td.icon img {
	max-width: none;
}
.admonitionblock > table td.icon .title {
	font-weight: bold;
text-transform: uppercase;
}
.admonitionblock > table td.content {
	padding-left: 1.125em;
	padding-right: 1.25em;
border-left: 1px solid #e3f0fc;
color: #484a4c;
}
.admonitionblock > table td.content > :last-child > :last-child {
	margin-bottom: 0;
}

.exampleblock > .content {
	border-style: solid;
	border-width: 1px;
border-color: #e6e6e6;
margin-bottom: 1.25em;
padding: 1.25em;
background: white;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.exampleblock > .content > :first-child {
	margin-top: 0;
}
.exampleblock > .content > :last-child {
	margin-bottom: 0;
}

.sidebarblock {
	border-style: solid;
	border-width: 1px;
border-color: #d9d9d9;
margin-bottom: 1.25em;
padding: 1.25em;
background: #f0f6fc;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.sidebarblock > :first-child {
	margin-top: 0;
}
.sidebarblock > :last-child {
	margin-bottom: 0;
}
.sidebarblock > .content > .title {
	color: #3c3d3f;
	margin-top: 0;
}

.exampleblock > .content > :last-child > :last-child, .exampleblock > .content .olist > ol > li:last-child > :last-child, .exampleblock > .content .ulist > ul > li:last-child > :last-child, .exampleblock > .content .qlist > ol > li:last-child > :last-child, .sidebarblock > .content > :last-child > :last-child, .sidebarblock > .content .olist > ol > li:last-child > :last-child, .sidebarblock > .content .ulist > ul > li:last-child > :last-child, .sidebarblock > .content .qlist > ol > li:last-child > :last-child {
	margin-bottom: 0;
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
	background: url('../images/riak/pre-bg.jpg');
}
.sidebarblock .literalblock pre, .sidebarblock .listingblock pre:not(.highlight), .sidebarblock .listingblock pre[class="highlight"], .sidebarblock .listingblock pre[class^="highlight "], .sidebarblock .listingblock pre.CodeRay, .sidebarblock .listingblock pre.prettyprint {
	background: #f2f1f1;
}

.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
	border: 0 0 1px 0 solid #f0f0f0;
	-webkit-border-radius: 4px;
border-radius: 4px;
word-wrap: break-word;
padding: 15px;
font-size: 0.8125em;
}
.literalblock pre.nowrap, .literalblock pre[class].nowrap, .listingblock pre.nowrap, .listingblock pre[class].nowrap {
	overflow-x: auto;
	white-space: pre;
word-wrap: normal;
}
@media only screen and (min-width: 768px) {
	.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
	font-size: 0.90625em;
	} }
@media only screen and (min-width: 1280px) {
	.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
	font-size: 1em;
	} }

.literalblock.output pre {
	color: url('../images/riak/pre-bg.jpg');
background-color: inherit;
}

.listingblock pre.highlightjs {
	padding: 0;
}
.listingblock pre.highlightjs > code {
	padding: 15px;
	-webkit-border-radius: 4px;
border-radius: 4px;
}

.listingblock > .content {
	position: relative;
}

.listingblock code[data-lang]:before {
	display: none;
	content: attr(data-lang);
position: absolute;
font-size: 0.75em;
top: 0.425rem;
right: 0.5rem;
line-height: 1;
text-transform: uppercase;
color: #999;
}

.listingblock:hover code[data-lang]:before {
	display: block;
}

.listingblock.terminal pre .command:before {
	content: attr(data-prompt);
	padding-right: 0.5em;
color: #999;
}

.listingblock.terminal pre .command:not([data-prompt]):before {
	content: "$";
}

table.pyhltable {
	border-collapse: separate;
	border: 0;
margin-bottom: 0;
background: none;
}

table.pyhltable td {
	vertical-align: top;
	padding-top: 0;
padding-bottom: 0;
line-height: 1.6;
}

table.pyhltable td.code {
	padding-left: .75em;
	padding-right: 0;
}

pre.pygments .lineno, table.pyhltable td:not(.code) {
	color: #999;
	padding-left: 0;
padding-right: .5em;
border-right: 1px solid #e3f0fc;
}

pre.pygments .lineno {
	display: inline-block;
	margin-right: .25em;
}

table.pyhltable .linenodiv {
	background: none !important;
	padding-right: 0 !important;
}

.quoteblock {
	margin: 0 1em 0.9375em 1.5em;
	display: table;
}
.quoteblock > .title {
	margin-left: -1.5em;
	margin-bottom: 0.75em;
}
.quoteblock blockquote, .quoteblock blockquote p {
	color: #262626;
	font-size: 1.15rem;
line-height: 1.75;
word-spacing: 0.1em;
letter-spacing: 0;
font-style: italic;
text-align: justify;
}
.quoteblock blockquote {
	margin: 0;
	padding: 0;
border: 0;
}
.quoteblock blockquote:before {
	content: "\201c";
float: left;
font-size: 2.75em;
font-weight: bold;
line-height: 0.6em;
margin-left: -0.6em;
color: #3c3d3f;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.quoteblock blockquote > .paragraph:last-child p {
	margin-bottom: 0;
}
.quoteblock .attribution {
	margin-top: 0.5em;
	margin-right: 0.5ex;
text-align: right;
}
.quoteblock .quoteblock {
	margin-left: 0;
	margin-right: 0;
padding: 0.5em 0;
border-left: 3px solid #484a4c;
}
.quoteblock .quoteblock blockquote {
	padding: 0 0 0 0.75em;
}
.quoteblock .quoteblock blockquote:before {
	display: none;
}

.verseblock {
	margin: 0 1em 0.9375em 1em;
}
.verseblock pre {
font-size: 1.15rem;
color: #262626;
text-rendering: optimizeLegibility;
}
.verseblock pre strong {
	font-weight: 400;
}
.verseblock .attribution {
	margin-top: 1.25rem;
	margin-left: 0.5ex;
}

.quoteblock .attribution, .verseblock .attribution {
	font-size: inherit;
	line-height: 1.45;
font-style: italic;
}
.quoteblock .attribution br, .verseblock .attribution br {
	display: none;
}
.quoteblock .attribution cite, .verseblock .attribution cite {
	display: block;
	letter-spacing: -0.025em;
color: #484a4c;
}

.quoteblock.abstract {
	margin: 0 0 0.9375em 0;
	display: block;
}
.quoteblock.abstract blockquote, .quoteblock.abstract blockquote p {
	text-align: left;
	word-spacing: 0;
}
.quoteblock.abstract blockquote:before, .quoteblock.abstract blockquote p:first-of-type:before {
	display: none;
}

table.tableblock {
	max-width: 100%;
	border-collapse: separate;
}
table.tableblock td > .paragraph:last-child p > p:last-child, table.tableblock th > p:last-child, table.tableblock td > p:last-child {
	margin-bottom: 0;
}

table.tableblock, th.tableblock, td.tableblock {
	border: 0 solid white;
}

table.grid-all > thead > tr > .tableblock, table.grid-all > tbody > tr > .tableblock {
	border-width: 0 5px 5px 0;
}

table.grid-all > tfoot > tr > .tableblock {
	border-width: 5px 5px 0 0;
}

table.grid-cols > * > tr > .tableblock {
	border-width: 0 5px 0 0;
}

table.grid-rows > thead > tr > .tableblock, table.grid-rows > tbody > tr > .tableblock {
	border-width: 0 0 5px 0;
}

table.grid-rows > tfoot > tr > .tableblock {
	border-width: 5px 0 0 0;
}

table.grid-all > * > tr > .tableblock:last-child, table.grid-cols > * > tr > .tableblock:last-child {
	border-right-width: 0;
}

table.grid-all > tbody > tr:last-child > .tableblock, table.grid-all > thead:last-child > tr > .tableblock, table.grid-rows > tbody > tr:last-child > .tableblock, table.grid-rows > thead:last-child > tr > .tableblock {
	border-bottom-width: 0;
}

table.frame-sides {
	border-width: 0 5px;
}

table.frame-topbot {
	border-width: 5px 0;
}

th.halign-left, td.halign-left {
	text-align: left;
}

th.halign-right, td.halign-right {
	text-align: right;
}

th.halign-center, td.halign-center {
	text-align: center;
}

th.valign-top, td.valign-top {
	vertical-align: top;
}

th.valign-bottom, td.valign-bottom {
	vertical-align: bottom;
}

th.valign-middle, td.valign-middle {
	vertical-align: middle;
}

table thead th, table tfoot th {
	font-weight: bold;
}

tbody tr th {
	display: table-cell;
	line-height: 1.5;
background: #f0f6fc;
}

tbody tr th, tbody tr th p, tfoot tr th, tfoot tr th p {
	color: #222222;
	font-weight: bold;
}

p.tableblock > code:only-child {
	background: none;
	padding: 0;
}

p.tableblock {
	font-size: 1em;
	color: #262626;
}

td > div.verse {
	white-space: pre;
}

ol {
	margin-left: 1.75em;
}

ul li ol {
	margin-left: 1.5em;
}

dl dd {
	margin-left: 1.125em;
}

dl dd:last-child, dl dd:last-child > :last-child {
	margin-bottom: 0;
}

ol > li p, ul > li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
	margin-bottom: 0.46875em;
}

ul.checklist, ul.none, ol.none, ul.no-bullet, ol.no-bullet, ol.unnumbered, ul.unstyled, ol.unstyled {
	list-style-type: none;
}

ul.no-bullet, ol.no-bullet, ol.unnumbered {
	margin-left: 0.625em;
}

ul.unstyled, ol.unstyled {
	margin-left: 0;
}

ul.checklist {
	margin-left: 0.625em;
}

ul.checklist li > p:first-child > .fa-square-o:first-child, ul.checklist li > p:first-child > .fa-check-square-o:first-child {
	width: 1.25em;
	font-size: 0.8em;
position: relative;
bottom: 0.125em;
}

ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
	margin-right: 0.25em;
}

ul.inline {
	display: -ms-flexbox;
	display: -webkit-box;
display: flex;
-ms-flex-flow: row wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
list-style: none;
margin: 0 0 0.46875em -0.9375em;
}

ul.inline > li {
	margin-left: 0.9375em;
}

.unstyled dl dt {
	font-weight: normal;
	font-style: normal;
}

ol.arabic {
	list-style-type: decimal;
}

ol.decimal {
	list-style-type: decimal-leading-zero;
}

ol.loweralpha {
	list-style-type: lower-alpha;
}

ol.upperalpha {
	list-style-type: upper-alpha;
}

ol.lowerroman {
	list-style-type: lower-roman;
}

ol.upperroman {
	list-style-type: upper-roman;
}

ol.lowergreek {
	list-style-type: lower-greek;
}

.hdlist > table, .colist > table {
	border: 0;
	background: none;
}
.hdlist > table > tbody > tr, .colist > table > tbody > tr {
	background: none;
}

td.hdlist1, td.hdlist2 {
	vertical-align: top;
	padding: 0 0.625em;
}

td.hdlist1 {
	font-weight: bold;
	padding-bottom: 0.9375em;
}

.literalblock + .colist, .listingblock + .colist {
	margin-top: -0.5em;
}

.colist td:not([class]):first-child {
	padding: 0.4em 0.75em 0 0.75em;
	line-height: 1;
vertical-align: top;
}
.colist td:not([class]):first-child img {
	max-width: none;
}
.colist td:not([class]):last-child {
	padding: 0.25em 0;
}

.thumb, .th {
	line-height: 0;
	display: inline-block;
border: solid 4px white;
-webkit-box-shadow: 0 0 0 1px #e3f0fc;
box-shadow: 0 0 0 1px #e3f0fc;
}

.imageblock.left, .imageblock[style*="float: left"] {
	margin: 0.25em 0.625em 1.25em 0;
}
.imageblock.right, .imageblock[style*="float: right"] {
	margin: 0.25em 0 1.25em 0.625em;
}
.imageblock > .title {
	margin-bottom: 0;
}
.imageblock.thumb, .imageblock.th {
	border-width: 6px;
}
.imageblock.thumb > .title, .imageblock.th > .title {
	padding: 0 0.125em;
}

.image.left, .image.right {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
display: inline-block;
line-height: 0;
}
.image.left {
	margin-right: 0.625em;
}
.image.right {
	margin-left: 0.625em;
}

a.image {
	text-decoration: none;
	display: inline-block;
}
a.image object {
	pointer-events: none;
}

sup.footnote, sup.footnoteref {
	font-size: 0.875em;
	position: static;
vertical-align: super;
}
sup.footnote a, sup.footnoteref a {
	text-decoration: none;
}
sup.footnote a:active, sup.footnoteref a:active {
	text-decoration: underline;
}

#footnotes {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
margin-bottom: 0.625em;
}
#footnotes hr {
	width: 20%;
	min-width: 6.25em;
margin: -0.25em 0 0.75em 0;
border-width: 1px 0 0 0;
}
#footnotes .footnote {
	padding: 0 0.375em 0 0.225em;
	line-height: 1.3334;
font-size: 0.875em;
margin-left: 1.2em;
margin-bottom: 0.2em;
}
#footnotes .footnote a:first-of-type {
	font-weight: bold;
	text-decoration: none;
margin-left: -1.05em;
}
#footnotes .footnote:last-of-type {
	margin-bottom: 0;
}
#content #footnotes {
	margin-top: -0.625em;
	margin-bottom: 0;
padding: 0.75em 0;
}

.gist .file-data > table {
	border: 0;
	background: #fff;
width: 100%;
margin-bottom: 0;
}
.gist .file-data > table td.line-data {
	width: 99%;
}

div.unbreakable {
	page-break-inside: avoid;
}

.big {
	font-size: larger;
}

.small {
	font-size: smaller;
}

.underline {
	text-decoration: underline;
}

.overline {
	text-decoration: overline;
}

.line-through {
	text-decoration: line-through;
}

.aqua {
	color: #00bfbf;
}

.aqua-background {
	background-color: #00fafa;
}

.black {
	color: black;
}

.black-background {
	background-color: black;
}

.blue {
	color: #0000bf;
}

.blue-background {
	background-color: #0000fa;
}

.fuchsia {
	color: #bf00bf;
}

.fuchsia-background {
	background-color: #fa00fa;
}

.gray {
	color: #606060;
}

.gray-background {
	background-color: #7d7d7d;
}

.green {
	color: #006000;
}

.green-background {
	background-color: #007d00;
}

.lime {
	color: #00bf00;
}

.lime-background {
	background-color: #00fa00;
}

.maroon {
	color: #600000;
}

.maroon-background {
	background-color: #7d0000;
}

.navy {
	color: #000060;
}

.navy-background {
	background-color: #00007d;
}

.olive {
	color: #606000;
}

.olive-background {
	background-color: #7d7d00;
}

.purple {
	color: #600060;
}

.purple-background {
	background-color: #7d007d;
}

.red {
	color: #bf0000;
}

.red-background {
	background-color: #fa0000;
}

.silver {
	color: #909090;
}

.silver-background {
	background-color: #bcbcbc;
}

.teal {
	color: #006060;
}

.teal-background {
	background-color: #007d7d;
}

.white {
	color: #bfbfbf;
}

.white-background {
	background-color: #fafafa;
}

.yellow {
	color: #bfbf00;
}

.yellow-background {
	background-color: #fafa00;
}

span.icon > .fa {
	cursor: default;
}
a span.icon > .fa {
	cursor: inherit;
}

.admonitionblock td.icon [class^="fa icon-"] {
	font-size: 2.5em;
	text-shadow: 0 0 8px white, 1px 1px 2px rgba(0, 0, 0, 0.5);
cursor: default;
}
.admonitionblock td.icon .icon-note:before {
	content: "\f05a";
color: #1f637f;
}
.admonitionblock td.icon .icon-tip:before {
	content: "\f0eb";
text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
color: #111;
}
.admonitionblock td.icon .icon-warning:before {
	content: "\f071";
color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
	content: "\f06d";
color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
	content: "\f06a";
color: #bf0000;
}

.conum[data-value] {
	display: inline-block;
	color: #fff !important;
background-color: #262626;
-webkit-border-radius: 100px;
border-radius: 100px;
text-align: center;
font-size: 0.75em;
width: 1.67em;
height: 1.67em;
line-height: 1.67em;
font-style: normal;
font-weight: bold;
}
.conum[data-value] * {
	color: #fff !important;
}
.conum[data-value] + b {
	display: none;
}
.conum[data-value]:after {
	content: attr(data-value);
}
pre .conum[data-value] {
	position: relative;
	top: -0.125em;
}

b.conum * {
	color: inherit !important;
}

.conum:not([data-value]):empty {
	display: none;
}

::selection {
	background-color: #fcc07f;
	color: #fff;
}

#header h1 {
	font-weight: bold;
}

.literalblock pre, .listingblock pre {
-webkit-border-radius: 5px;
border-radius: 5px;
}

#content ul > li {
	list-style-type: square;
}

p > em {
font-weight: 400;
font-size: 95%;
}

.admonitionblock > table {
	width: 100%;
	background-image: url('../images/riak/info-bg.jpg');
border-collapse: separate;
border-spacing: 0;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid #9EC6DF;
}
.admonitionblock > table td.icon {
	padding: 15px;
}
.admonitionblock > table td.icon .icon-tip:before {
	text-shadow: 0 0 20px white, 1px 1px 2px rgba(155, 155, 0, 0.8);
}
.admonitionblock > table td.content {
font-size: 90%;
font-style: italic;
border: 0;
padding: 15px;
}

.admonitionblock .literalblock > .content > pre, .admonitionblock .listingblock > .content > pre {
	background-image: url('../images/riak/info-bg.jpg');
}

.exampleblock > .content {
	background-color: transparent;
	border-color: #e3f0fc;
}

.sidebarblock {
	background-image: url('../images/riak/sidebar-bg.jpg');
-webkit-border-radius: 5px;
border-radius: 5px;
}
.sidebarblock > .content > .title {
	color: #f1f1f1;
	text-shadow: 0px 2px 2px black;
font-size: 1.25em;
font-weight: bold;
}
.sidebarblock > .content ul, .sidebarblock > .content p {
	color: #f1f1f1;
	text-shadow: 0px 1px 1px black;
}
.sidebarblock > .content .title {
	color: #f0f6fc;
}
.sidebarblock > .content code {
	color: #333;
}
.sidebarblock > .content a {
	color: #60B5D8;
}
.sidebarblock > .content a:hover {
	color: #FAA94C;
}
.sidebarblock > .content .admonitionblock p, .sidebarblock > .content .admonitionblock ul {
	text-shadow: none;
	color: #262626;
}

table.tableblock.grid-all {
	-webkit-border-radius: 0;
	border-radius: 0;
}

#footer {
padding: 20px 0;
background-color: #262626;
}

#footer-text {
	color: rgba( 255, 255, 255, .4 );
	font-size: 14px;
	letter-spacing: .08em;
	text-align: center;
}

.ps {
    position: relative;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none
}

@supports (-ms-overflow-style: none) {
    .ps .ps {
        overflow:auto!important
    }
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
    .ps .ps {
        overflow: auto!important
    }
}

.ps.ps--active-x>.ps__scrollbar-x-rail,.ps.ps--active-y>.ps__scrollbar-y-rail {
    display: block;
    background-color: transparent;
    cursor: pointer
}

.ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    opacity: 1;
    background-color: transparent
}

.ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.07)
}

.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
    opacity: 1;
    background-color: transparent
}

.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    width: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.07)
}

.ps .ps__scrollbar-x-rail,.ps .ps__scrollbar-y-rail {
    z-index: 8
}

.ps .ps__scrollbar-x-rail {
    position: absolute;
    bottom: 0;
    height: 21px;
    display: none;
    opacity: 1;
    margin: 0 12px;
    transition: background-color .2s linear,opacity .2s linear
}

.ps .ps__scrollbar-x-rail>.ps__scrollbar-x {
    position: absolute;
    bottom: 7px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.07);
    transition: background-color .2s linear,height .2s linear,width .2s ease-in-out,border-radius .2s ease-in-out
}

.ps .ps__scrollbar-x-rail:active>.ps__scrollbar-x,.ps .ps__scrollbar-x-rail:hover>.ps__scrollbar-x {
    height: 5px;
    border-radius: 2.5px
}

.ps .ps__scrollbar-y-rail {
    position: absolute;
    right: 0;
    display: none;
    opacity: 1;
    width: 21px;
    margin: 12px 0;
    transition: background-color .2s linear,opacity .2s linear
}

.ps .ps__scrollbar-y-rail>.ps__scrollbar-y {
    position: absolute;
    right: 7px;
    width: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.07);
    transition: background-color .2s linear,height .2s linear,width .2s ease-in-out,border-radius .2s ease-in-out
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    opacity: 1;
    background-color: transparent
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.12)
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
    background-color: transparent;
    opacity: 1
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    width: 5px;
    border-radius: 2.5px;
    background-color: rgba(41,93,166,.12)
}

.ps:hover>.ps__scrollbar-x-rail,.ps:hover>.ps__scrollbar-y-rail {
    opacity: 1
}

.ps:hover>.ps__scrollbar-x-rail:hover {
    opacity: 1;
    background-color: transparent
}

.ps:hover>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x {
    background-color: rgba(41,93,166,.12)
}

.ps:hover>.ps__scrollbar-y-rail:hover {
    opacity: 1;
    background-color: transparent
}

.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
    background-color: rgba(41,93,166,.12)
}