<!-- Verto dependencies -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./client.build.js"></script>

<script type="text/javascript">
const API_KEY = '809f375d-1e25-49f2-99c3-a774f3a31e37';
const BASE_URL = 'https://clique-core-test.caw.me';

  function getuserdata(){
    return new Promise(function(resolve, reject){
      $.ajax({
        method: 'post',
        url:'https://clique-core-test.caw.me/api/v2/users',
        data: {},
        success: function(data){
          resolve(data)
        },
        headers: {
          Authorization: 'Bearer ' + API_KEY
        }
      });
    })
  };
  var cliqueClient;
  var conf;

  getuserdata().then(function(data){
      conf = new CliqueClient.Conference({
          base_url: BASE_URL,
          session_token: data.user.token,
          debug: true
      });
      conf.on('conference-create', () => {
        id('id').innerHTML = conf.id();

      })
      conf.on('add-member', (event) => {
        console.log(event)
      })
      conf.on('screen-share-start', (event) => {
        console.log(event);
      });
      conf.on('screen-share-stop', (event) => {
        console.log(event);
      });
  });
  function id(i) {
    return document.getElementById(i);
  }
  function call() {
    conf.create({p2p:true})
    .then(()=>{
      id('id').innerHTML = conf.id();
    });
  }
  function join() {
    conf.join(id('number').value)
    .then(()=>{
      id('id').innerHTML = conf.id();
    });
  }
  function hangup() {
    conf.leave();
    id('id').innerHTML = '';
  }
  function ss() {
    conf.screenShareStart('dkbabajgapcbkdlngkcdbikgfaockidl');
  }  
  function sss() {
    conf.screenShareStop();
  }
  function ss_view(){
    conf.screenShareViewStart(id('uuid').value, document.getElementById('video'));
  }
</script>

<h1 id="id"></h1>
<button onclick="call()">Start Conference</button>
<br>
<input type="text" id="number"><button onclick="join()">Join Conference</button>
<br>
<button onclick="hangup()">Leave Conference</button>

<br>
<br>
<button onclick="ss()">Screen Share</button><button onclick="sss()">Screen Share Stop</button>
<br>
<input type="text" id="uuid"><button onclick="ss_view()">View User Screen</button>
<br>
<video id="video" controls></video>